.header
  = render partial: "render/header"

.prefecture-img
  = image_tag 'Pre.23.aichi.png', :height => "700", :width => "700" 
-# app/assets/images/織田信長.jpeg
-# app/assets/images/徳川家康.jpeg
-# app/assets/images/豊臣秀吉.jpeg
.historical-figures
  画面右ー枠組み（1/3くらいの利用）
  .historical-figures__index1
    .historical-figures__index1--icon 
      = image_tag '織田信長.jpeg', :height => "150", :width => "150" 
    .historical-figures__index1__name
      .historical-figures__index1__name--full-name
        織田信長
      .historical-figures__index1__name--kana
        おだ のぶなが

  .historical-figures__index2
    .historical-figures__index2--icon 
      icon2
    .historical-figures__index2--name
      豊臣秀吉
    .historical-figures__index1--kana
      とよとみ ひでよし

  .historical-figures__index3
    .historical-figures__index3--icon 
      icon3
    .historical-figures__index3--name
      徳川家康
    .historical-figures__index1--kana
      とくがわ いえやす


.footer
  = render partial: "render/footer"