.figure-name {
  background-color: rgba(211, 196, 226, 0.3);
  padding-left: 200px;
  display: float; 
  font-size: 60px;
  width: 25vw;
  height: 80px;
}
.figure-img {
  position: absolute;
  left: 0;
  margin-left: 100px;
}