// header 後ほどrender等で画面上をまとめる予定
.wrapper{
  min-height: 100vh;
  position: relative;/*←相対位置*/
}


.app-title {
  background-image:
  radial-gradient(circle at 100% 150%, #80D0E0 24%, #fff 24%, #fff 28%, #80D0E0 28%, #80D0E0 36%, #fff 36%, #fff 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, #80D0E0 24%, #fff 24%, #fff 28%, #80D0E0 28%, #80D0E0 36%, #fff 36%, #fff 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, #fff 10%, #80D0E0 10%, #80D0E0 23%, #fff 23%, #fff 30%, #80D0E0 30%, #80D0E0 43%, #fff 43%, #fff 50%, #80D0E0 50%, #80D0E0 63%, #fff 63%, #fff 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, #fff 5%, #80D0E0 5%, #80D0E0 15%, #fff 15%, #fff 20%, #80D0E0 20%, #80D0E0 29%, #fff 29%, #fff 34%, #80D0E0 34%, #80D0E0 44%, #fff 44%, #fff 49%, transparent 49%, transparent),
  radial-gradient(circle at 0    50%,#fff 5%, #80D0E0 5%, #80D0E0 15%, #fff 15%, #fff 20%, #80D0E0 20%, #80D0E0 29%, #fff 29%, #fff 34%, #80D0E0 34%, #80D0E0 44%, #fff 44%, #fff 49%, transparent 49%, transparent);
  background-size: 100px 50px;
  opacity: 0.8;
  width: auto;
  height: 130px;
  line-height:130px;
  text-align: center;
  &__text {
    font-size: 60px;
    font-weight: bold;
    color: #006000; //濃いめの緑色 和風ーお茶の様な濃さ  
  }
}


.footer {
  background: linear-gradient(45deg, #dde 12%, transparent 0, transparent 88%, #dde 0), linear-gradient(135deg, transparent 37%, #aab 0, #aab 63%, transparent 0), linear-gradient(45deg, transparent 37%, #dde 0, #dde 63%, transparent 0), #335;
  background-size: 40px 40px;
  width: 100%;
  height: 50px;
  position: absolute; /*←絶対位置*/
  bottom: 0;          /*下に固定*/
  font-size: 30px;
  color: red;
  text-align: center;
}