// header 後ほどrender等で画面上をまとめる予定
.wrapper{
  min-height: 100vh;
  position: relative;/*←相対位置*/
}

.login-display {
  background-color: lemonchiffon;
  margin: 50px;
  
  &__text {
    font-size: 30px;
    text-align: center;
    color: lightcoral;
  }
}


.login-box {
  background-color: khaki;
  display: flex;
  justify-content: center;
  padding-left: 20px;

  &__row-size {
    width: 400px;
    height: 100px;
    vertical-align: middle;
    background-color: blanchedalmond;
    padding-left: 10px;

    &--email {
      width: auto;
      height: 50px;
      line-height: 50px;
      background-color: #80D0E0;
      font-size: 25px;
    }
    #email-form {
      background-color: lightcoral;
      height: 30px;
      line-height: 30px;
      margin-left: 65px;
      vertical-align: middle ;
    }

    &--pass {
      width: auto;
      height: 50px;
      line-height: 50px;
      background-color: gray;
      font-size: 25px;
    }
      #pass-form {
        background-color: lightcoral;
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
        vertical-align: middle;
      }
    
    &--remember-pass {
      background-color: lawngreen;
      width: auto;
      height: 50px;
      line-height: 50px;
    }

    &--login-btn {
      background-color: olive;
      width: auto;
      height: 50px;
      line-height: 50px;
      #login-btn {
        height: 25px;
        width: 80px;
        font-size: 15px;
      }
    }

  }
}