.transition-bar {
  background-color: rgb(141, 189, 141);
  max-width: auto;
  height: 50px;
  display: flex;
  justify-content: flex-end;

  &__logout {
    background-color: lemonchiffon;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  &__register {
    background-color: aqua;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  &__login {
    background-color: seagreen;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  &__guest {
    background-color: darkgoldenrod;
    width: 150px;
    height: 50px;
    line-height: 50px;  }
    text-align: center;
}
.body {
  background-color: rgba(141, 189, 141, 0.3);

  &__japan-map {
    display: flex;
    justify-content: center;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
  }
  #map-container {
    background: linear-gradient(#B3E8FF , #6dd5fa, #2980b9);
  }
  &__japan-map-insert {
    display: flex;
    justify-content: center;     // 中央寄せ
    height: calc(100vh - 280px); // -の合計値280px( header:130px, transition-bar:50px, japan-map:50px, footer:50px)
  }
}

