

.transition-bar {
  background-color: saddlebrown;
  width: auto;
  height: 50px;

  .transition-bar__register {
    background-color: aqua;
    width: auto;
    height: 30px;
    line-height: 20px;
  }
  .transition-bar__login {
    background-color: seagreen;
    width: auto;
    height: 30px;
    line-height: 20px;
  }
  .transition-bar__guest {
    background-color: darkgoldenrod;
    width: auto;
    height: 30px;
    line-height: 20px;  }
}


.japan-map {
  background-color: fuchsia;

}
