

.transition-bar {
  background-color: saddlebrown;
  max-width: auto;
  height: 50px;
  display: flex;
  justify-content: flex-end;

  &__register {
    background-color: aqua;
    width: auto;
    height: 30px;
    line-height: 20px;
  }
  &__login {
    background-color: seagreen;
    width: auto;
    height: 30px;
    line-height: 20px;
  }
  &__guest {
    background-color: darkgoldenrod;
    width: auto;
    height: 30px;
    line-height: 20px;  }
}


.japan-map {
  background-color: fuchsia;

}
