.header
  = render partial: "render/header"

.transition-bar
  .transition-bar__register
    新規登録 
  .transition-bar__login
    ログイン
  .transition-bar__guest
    ゲストログイン

.japan-map
  日本地図ー自動生成ー入れる予定

.footer
  = render partial: "render/footer"