.wrapper
  = render partial: "render/header"

.chat
  top画面
  .chat_menu
    日本地図

.header
  header
  .header__title
    日本地図 
  .header__select
    プルダウン

  .japan-map
    日本地図ー自動生成ー入れる予定

  = render partial: "render/footer"